parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    paths:
        - src
    excludes_analyse:
        - src/Console/Installer.php
    bootstrapFiles:
       - tests/bootstrap.php
    ignoreErrors:
        -
            message: '#has parameter \$app with generic interface Cake\\Core\\PluginApplicationInterface but does not specify its types#'
            path: src/CakePreloaderPlugin.php
